html,body{
height: 100%
}

.full_height{
  height: 100%;
  min-height: 100%
}
.main{
 min-width: 1100px;
  /*background: #eeeeee;*/
  height: 100%
}
.grayBack{
  background: #eee
}
.padzero{

  padding: 0
}
.dash-top{
     border-bottom: 1px solid #fafafa  ;
    height:60px;
    width:100%;
    padding: 0;
    background: #fff
}
.noPad{
     padding:0;

}
.dash-left{
     width:15%;
    float:left
}
.dash-mid{
     width:60%;
    float:left;

}

.mid85{
     width: 85%
}
.tab_content_container{
 min-height: 620px;
 border-left: 1px solid #ccc
}
.dash-right{
     width:25%;
    float:left
}
img.page-logo {
    width: 100px;
    /*margin-top: 15px;*/
    margin-left: 30px;
}

.search-group .input-group-addon{
     border-radius: 0;
    width:60px;
    background: #4485f4;
    color:#fff;
    border:1px solid #4485f4;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    height: 30px;
}
.search-group{
     width:100%;
    margin-top:15px;
        max-width: 650px;
}
.search-group input{
     border-radius: 0;
    height: 30px;
    width:588px !important
}
.profile-right{
    width:200px;
    float: right;
    margin-right:30px;
    margin-top:20px
}
.profile-item{
     width:25%;
    float:left
}
.profile-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: -8px;
    cursor: pointer
}
.profile-notif{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #7B7474;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 11px;
     margin: 0 auto
}
.profile-notif:hover{
    background: #000;

}


/* second line*/

.dash-second{
    height:50px;
    border-top:1px solid #EFE6E6;
    width:100%;
    background: #fafafa;
      -webkit-box-shadow: 0 8px 9px -9px #928F8F;
       -moz-box-shadow: 0 8px 9px -9px #928F8F;
        box-shadow:  0 8px 9px -9px #928F8F;
}
img.user-logo {
    width: 30px;
    margin-top: 10px;
    float:left
}
 .user-name{
    float:left;
   margin-top: 16px;
    margin-left: 10px;
        font-size: 15px;
    font-weight: bold;
}
.user-name-p {
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    width: 140px;
    height: 28px;
    line-height: 17px;
    font-size: 14px;
    font-weight: bold;
}
.filter-section.top-filter{
     padding-left: 0;
    margin-top: 6px
}
.right-settings{
        font-size: 20px;
    color: #635F5F;
    margin-top: 10px;
}

/* third line*/

.dash-bottom{
    width:100%;
    padding: 0;
    margin-top: 2px
}
.btn-new{
    width:115px;
    background: #d54937;
    margin: 0 auto;
    height:30px;
    margin-top: 30px;
    margin-left:23px;
        font-size: 11px;
    font-weight: bold;
    border-radius: 2px
}
.btn-new:hover,.btn-new:active,.btn-new:focus{
    background: #d54937;
    color:#fff;
    border: none
}
.left-btns{
     list-style: none;
    padding-left: 0
}
.left-btns li{
      height:25px;
    line-height: 25px;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 13px
}

.left-btns li i{
         color: #8E8989;
    font-size: 20px;
     display: block;
    float: left
}
.left-btns li span{
        padding-left: 10px;
    display: block;
    margin-top: -2px;
    float: left
}
.left-btns li.active{
     border-left:4px solid #d54937;
    color:#D04534;
    font-weight:bold
}
.left-btns li.active i{
    color:#D04534;
}
.left-btns a{
     text-decoration: none;
    color:#888;
    font-size: 15px
}

.table-item.table-head{
    background: #fafafa
}
.table-item{
     padding-left: 20px;
    padding-right: 20px;
   /*  height:50px;
    line-height: 50px; */
    min-height:30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    margin-left: 0px;
    margin-right: 0px
}

.table-item img{
    width:25px;
    margin-right: 20px
}
.table-tbody{
    height: 600px;
    overflow-y: auto;
}
.sort{
   width: 19px;
    height: 19px;
    /* background: url('../img/sort_both.png'); */
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    position: relative
}
.sort_asc{
     width: 9px;
    height: 7px;
    position: absolute;
    top: 1px;
    background: url('../img/sort_asc.png');
}
.sort_desc{
     width: 9px;
    height: 7px;
    position: absolute;
    bottom: 1px;
    background: url('../img/sort_desc.png');
}
.sort_asc.active{
    background: url('../img/sort_asc_active.png');
}
.sort_desc.active{
    background: url('../img/sort_desc_active.png');
}

.pm-filter{
        color: #000;
    font-size: 15px;
    margin-top: 7px;
    cursor: pointer;
}
.filter_section{
    /* margin: 5px;
    margin-top: 0 */
    border-radius: 0px;
    margin-bottom: 0px;
    display: none
}
.filter_row{
     margin-top: 15px;
    margin-bottom: 15px;
    text-align: center
}
.filter_row_item{
 display: inline-block;
    width: auto;
    border-radius: 0
}
.filter_divider{
    color:#31B0D5;
    width:70%;
    margin:0px auto;
    overflow:hidden;
    text-align:center;
    line-height:1.2em;
}

.filter_divider:before, .filter_divider:after{
    content:"";
    vertical-align:top;
    display:inline-block;
    width:50%;
    height:0.65em;
    border-bottom:1px solid #5BC0DE;
    margin:0 2% 0 -55%;
}
.filter_divider:after{
    margin:0 -55% 0 2%;
}

.bleft{
     border-left:1px solid #ccc;
    padding-left: 10px
}
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    cursor: pointer
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-content{
     color:#444;
     font-style: italic;
     display: none
}
.filter_list_item{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.op_btns:hover i{
    font-weight: bold
}
.op_btns.op_edit {
    color: #45ABCD;
}
.op_btns.op_save {
    color: green;
}
.op_btns.op_del {
    color: red;
}
.op_btns_section {
    margin-top: 10px;
}
.table-tbody::-webkit-scrollbar {
    width: 7px;
}

.table-tbody::-webkit-scrollbar-track {
    background: transparent
}

.table-tbody::-webkit-scrollbar-thumb {
  background-color: darkgrey;

}
.filter-group button{
     background: none;
    border:1px solid transparent;
    font-size: 16px;
    color:#656262

}
.filter-group button:hover,.filter-group.open button{
        background: #fff !important;
    border:1px solid #ccc !important;
    box-shadow: none !important

}
.filter-section{
     padding-left: 10px
}
.filter-section,.filter-close{
        margin-top: 20px;
    padding-right: 20px;
    font-size: 20px;
    color:#909090
}
.filter-section .dropdown-menu{
        margin-top: -2px;
    border-radius:0;
    width:250px

}
.filter-section .dropdown-menu li{
    height: 30px;
    border-left: 4px solid transparent;
}
.filter-section .dropdown-menu li:hover{
        border-left: 4px solid #969292;
    background: #E6E3E3;
}
.filter-section .dropdown-menu li a{
    text-decoration: none;
    background: none
}
.back-white{
     background: #fff
}

.right-tab{
     width:100%;
    float:left;
    margin-top:20px
}
.right-tab .nav-tabs li{
     width:50%;

}
.right-tab .nav-tabs li a,.right-tab .nav-tabs li.active a{
        background: none;
    border:none;
    border-radius:0;
    text-decoration: none;
    color:#797878
}
.right-tab .nav-tabs li.active a{
     border-top:4px solid #4188f2;
    color:#000;
    font-weight: bold
}

.right-tab .tab-pane{
    padding: 10px;
    padding-top: 50px;

}


/* USER MANAGEMENT ENDS */

/* DASHBOARD */

.left-home{
    font-size: 28px;
    margin-top: 5px;
}
.crumb{
    list-style: none;
    margin-top: 12px;
}
.crumb li {
    display: inline;
    font-size: 18px;
    color:#888
}
.crumb li a{
   text-decoration: none
}
.seperator{
         font-size: 14px !important;
    margin-right: 10px;
    color:#000
}
.sub-menu{
     margin-top:0px;
    list-style: none;
    padding-left: 5px
}
.dash-main{
     background: #fff
}
.dash-right-row {
    border-top: 2px solid #F5F1F1;
       margin-top: 40px;
    width: 100%;
    float: left;
}
.row-title{
        float: left;
    background: #fff;
    margin-top: -10px;
    padding-right: 20px;
    font-weight: bold;
    color: #A7A5A5
}
.dash-item {
        margin-top: 30px;
    width: 100%;
    float: left;
}
.dash-right-section{
     padding-right: 10px;
    height: 600px;
    overflow-y: auto;

}
.dash-number {
    font-weight: bold;
    font-size: 20px;
}
.dash-description {
    font-size: 16px;
    color: #8A8A8A;
    border-bottom: 5px solid #11C3BD;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
.dash-color-block {
    width: 100%;
    float: left;
    margin-top: 10px;
}
.color-circle {
    background: #ccc;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    float: left;
    margin-top: 5px;
}

.color-red{
     background: #d3462f
}
.color-orange{
     background: #f37517
}
.color-blue{
     background: #00b3a4
}
.color-number {
    float: left;
    margin-left: 10px;
    font-weight: bold;
    margin-right: 5px;
}
.color-text{
    float:left;
        font-size: 16px;
    color: #8A8A8A;
}

.no-border{
    border: 0
}
.dash-sections{
     height:70px;
    background: #fff;
        border-bottom: 1px solid #E6E4E4;
        border-top: 1px solid #E6E4E4;
}
.icons-left{
     width: 75%;
    float: left;
        padding-left: 10px;
        border-right: 1px solid #ccc;
}
.icon-title {
    margin-top: 10px;
    font-weight: bold;
    color: #4C4A4A;
}
.icon-desc {
    margin-top: 5px;
    color: #696767;
}


.icons-item{
     margin-top: 50px
}

.icon-dash-right{
    margin-right: 5px;
    padding-left: 20px;

}
.noMargin-right{
     margin-right: 0;
    margin-left: 0;
    width: auto;
}
.nomarging{
 margin:0;
    width:auto
}
.rs_mid{
 margin-top: 20px
}
.btn_head img {
    width: 20px;
}
.btn_head {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.left-btns-dash li{
     height:auto
}
.filter-date{
     margin-top: 0
}



/*  */

.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 10px solid #5bc0de;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
    text-decoration: none
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
      .btn-breadcrumb .btn.btn-info:after {
         border-left: 10px solid #5bc0de;
         }
         .btn-breadcrumb .btn.btn-info:before {
         border-left: 10px solid #fff;
         }
    .btn-breadcrumb .btn.btn-info:hover:after {
    border-left: 10px solid #31b0d5;
    }

    .btn-breadcrumb .btn.btn-info:hover:before {
    border-left: 10px solid #fff;
    }
.btn-breadcrumb .btn.btn-info.on:after {
    border-left: 10px solid #088EB5 !important;
    }
.btn-breadcrumb .btn.btn-info.on{
 background:  #088EB5
}

  .btn-breadcrumb .btn.btn-info:focus:after {
    border-left: 10px solid #31b0d5;
    }

.btn-breadcrumb .btn.btn-info:active,.btn-breadcrumb .btn.btn-info:focus{
    background: #088EB5;
    border-color:#31b0d5;
    z-index: auto;
    box-shadow: none
}

.profile_drags{
      border-right:1px solid #F3F1F1;
       /*   -webkit-box-shadow: -3px 5px 10px 0 #928F8F;
                -moz-box-shadow: -3px 5px 10px 0 #928F8F;

                box-shadow: -3px 5px 10px 0 #928F8F; */
     min-height: 550px
}

.btn-flat{
     border-radius:0;
    margin-left: 2px;
    margin-right: 2px;
}
.profile-content{
     width:85%;
    float:left;
      /* border-left:1px solid #5bc0de; */
     padding: 10px;
    min-height: 550px;

}
.profile-section{
    border: 1px solid #ccc;
    float: left;
        padding: 10px;
    padding-bottom: 20px;
    width: 100%;
}
 .u-info{min-height: 500px;width: 100%}
.profile-section img{
     width:20px;
    margin-left: 10px
}
.operation{
     cursor: pointer;
    color:green;
    vertical-align: super;
}
.form_item{
        margin-top: 10px;
}
.profile_first{
        padding-bottom: 5px;
}
.profile_labels {
    margin-top: 25px;
    float: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}
.profile_drags li{
    margin-top: 20px;
}
.profile_drags .btn_head{
    margin-top: 20px;
}
.btn-breadcrumb a{
    font-size: 12px
}
.btn-breadcrumb{
 margin-top: 10px
}

.profile-crumb{
     float: left;
    width:85%
}
.profile_right_btn {
    margin-top: 10px;
}

.profile_boxes{
     padding-left: 40px
}
.profile_boxes label{
     font-weight: normal
}
.step3-table thead tr{
 background: #5ECFF1;
    color: #fff
}



.sidebar_section{
     float: left;
    width:15%;
   /*  border-right: 1px dashed #ccc; */
    min-height: 550px
}
.content_section{
     float: left;
    width: 85%;
    padding-left: 20px;
    border-left: 1px dashed #ccc;
}
.nxt_prev_container{
        position: fixed;
    bottom: 25px;
    right: 25px;
}
.propertyModalBody{
     padding: 20px;
    padding-top: 10px;
}
.propertyModalBody .property_item{
     margin-top: 20px
}
.noBorder{
 border: 0
}
.bleft{
 border-left:1px solid #ccc
}



.account_popout{
        width: 320px;
    visibility: hidden;
    right: 30px;
    top: 59px;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    position: absolute;
    text-align: left;
    z-index: 3000;
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.account_popout.active{
    visibility: visible
}
/* .account_popout {
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
} */
.account_popout:after, .account_popout:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.account_popout:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;

}
.account_popout:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #bbbbbb;
    border-width: 9px;
    margin-left: -1px

}
.popout_img{
        padding: 15px 10px;
    display: inline-block;
    position: relative;
    cursor: pointer
}
.popout_img img{
     max-width: 95px;
    max-height: 95px
}
.change_photo{
    position: absolute;
    bottom: 20px;
    width: 95px;
    height: 20px;
    background: rgba(77, 144, 254, 0.6);
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    visibility: hidden
}
.popout_img:hover .change_photo{
     visibility: visible;
}
.popout_profile{
    display: inline-block;
    padding: 0px 10px;
    vertical-align: top;
}
.p_name{
        color: #000;
    font-weight: bold;
}
.p_email{
    color: #666666;
    display: block;
    margin-bottom: 10px;
}
.p_privacy{
        display: block;
    margin-bottom: 10px;
}
.p_privacy a{
    text-decoration: none;
    cursor: pointer;
    color: #1152cc;
    padding: 0
}
.p_btn{
        background-color: #4d90fe;
    border: 1 px solid #3079ed;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: inline-block;
    min-width: 54px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
}

.p_arrow{
        border-color: transparent transparent #bebebe;
    border-style: dashed dashed solid;
    border-width: 0 10px 10px;
    cursor: default;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 30px 0 0;
    position: absolute;
    right: 19px;
    top: -40px;
    visibility: visible;
    width: 0;
    z-index: 1000;
}

.p_signout{
        background-color: #f8f8f8;
    border-top: 1px solid #d8d8d8;
    padding: 10px 10px;
}
.p_signout_btn{
    display: inline-block;
    min-width: 54px;
    border: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    color: #444;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    transition: all 0.218s;
    background-color: #fff;
    cursor: pointer;
}

/* SUPER ADMIN */

.o_edit,.o_settings{
 cursor: pointer;
}
.o_settings{
        margin-left: 10px
}


/*
.step_item{
 float: left;
 width:50px;
    text-align: center
}

.step_circle{
        width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    outline: none
}

.step_circle.on{
    background-color: #449d44;
    border-color: #398439;
    outline: none
}
.step_circle:focus,.step_circle:active{
    outline: none
}
.step_divider{
        border-top: 1px dashed #ccc;
    float: left;
    width: 50px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.sub_steps{
 width: 100%;
    margin-top: 20px
}

.step_txt {
    margin-top: 10px;
    color: #777;
}
*/
.panel-title{
 cursor: pointer
}
.bigToggle{
        width: 174px;
    border: 1px solid #a9a9a9;
}
.fa_icons{
    /* color:#888; */
    font-size: 50px
}



/* REMOVE THIS PORTION */

.tbr_mid{
	width: 90%;
	padding-left: 5%;
	margin-bottom: 10px;
}
.tbr_mid .tab_content_container{
	border:0;
}
.tbr_cmid{
	width:75%;
}
/* REMOVE ENDS */