    <div class="main dash-main">
    <div class="container-fluid noPad ">
        <div class="container dash-top">
            <div class="dash-left"><img src="img/large-logo.png" alt="" class="page-logo"></div>
            <div class="dash-mid">
                <div class="input-group search-group">
                    <input type="text" class="form-control" placeholder="Search Name">
                    <button class="input-group-addon"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="dash-right">
                <div class="profile-right">
                    <div class="profile-item text-center">Raman</div>
                    <div class="profile-item text-center"><i class="fa fa-th"></i></div>
                    <div class="profile-item text-center"><span class="profile-notif"><i class="fa fa-bell"></i></span></div>
                    <div class="profile-item text-center img-circle profile-img"><img src="img/logo.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid noPad ">
        <div class="container dash-second">
            <div class="dash-left"><img src="img/profile.png" alt="" class="user-logo">
                <h4 class="user-name">PM</h4>
            </div>
            <div class="profile-crumb">
                <div id="bc1" class="btn-group btn-breadcrumb">
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 1}" ng-click="currentTab=1">
                        <div>Setup - Basic</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 2}" ng-click="currentTab=2">
                        <div>Setup - Fields</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 3}" ng-click="currentTab=3">
                        <div>Finalize Profile</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 4}" ng-click="currentTab=4">
                        <div>Validate Profile</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 5}" ng-click="currentTab=5">
                        <div>Publish Profile</div>
                    </a>
                </div>
                <div class="profile_right_btn pull-right">
                    <button class="btn btn-default btn-sm btn-flat" ng-disabled="currentTab != 4">Validate</button>
                    <button class="btn btn-warning btn-sm btn-flat" ng-disabled="currentTab != 5">Publish</button>
                    <button class="btn btn-success btn-sm btn-flat">Save</button>
                    <button class="btn btn-danger btn-sm btn-flat">Cancel</button>
                    <button class="btn btn-default btn-sm btn-flat"><i class="fa fa-refresh"></i></button>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-flat btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href>Action</a></li>
                            <li><a href>Another action</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-flat btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid noPad ">
        <div class="container dash-bottom">
            <div class="dash-left profile_drags">
                    <!-- LEFT SIDEBAR -->
            </div>
            <div class="profile-content">

                <!-- PAGE 1 CONTENT STARTS -->
                <div id="page1" class="hide" ng-class="{'show': currentTab == 1}">
                    <h3>Profile Form Setup</h3>
                    <br>
                    <div class="row">
                        <div class="col-xs-2"><h4>Form Name</h4></div>
                        <div class="col-xs-10"><h4>Create New User</h4></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2"><h4>Open Form: </h4></div>
                        <div class="col-xs-10"><h4>On Click – New Button on User Management</h4></div>
                    </div>
                     <div class="row">
                        <div class="col-xs-2"><h4>Hot Key:      </h4></div>
                        <div class="col-xs-1"><h4>UM01</h4></div>
                        <div class="col-xs-2">
                          <div class="btn-group">
                                <button type="button" class="btn btn-default btn-flat btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Please Select <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                </ul>
                            </div>
                         </div>
                    </div>
                </div>
                <!-- PAGE 1 CONTENT ENDS -->
              
             
                <!-- PAGE 2 CONTENT STARTS-->
                <div id="page2" class="hide" ng-class="{'show': currentTab == 2}">
                   <h3>Form Setup</h3>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4><strong>Select data input requirements</strong></h4>
                        </div>
                        <div class="col-xs-12 profile_boxes">
                            <p><label><input type="checkbox"> Single Line </label></p>
                            <p><label><input type="checkbox"> Multiple Line </label></p>
                        </div>

                        <div class="col-xs-12">
                            <h4><strong>Is data input staged? </strong></h4>
                        </div>
                        <div class="col-xs-12 profile_boxes">
                            <p><label><input type="checkbox"> Yes </label></p>
                            <p><label><input type="checkbox"> No </label></p>
                        </div>

                        <div class="col-xs-12">
                            <h4><strong>Is search grid required? </strong></h4>
                        </div>
                        <div class="col-xs-12 profile_boxes">
                            <p><label><input type="checkbox"> Yes </label></p>
                            <p><label><input type="checkbox"> No </label></p>
                        </div>

                        <div class="col-xs-12">
                            <h4><strong>Is search mandatory before data input is enabled? </strong></h4>
                        </div>
                        <div class="col-xs-12 profile_boxes">
                            <p><label><input type="checkbox"> Yes </label></p>
                            <p><label><input type="checkbox"> No </label></p>
                        </div>

                        <div class="col-xs-12">
                            <h4><strong>Select form validation requirements:</strong></h4>
                        </div>
                        <div class="col-xs-12 profile_boxes">
                            <p><label><input type="checkbox"> Validation on Submit </label></p>
                            <p><label><input type="checkbox"> Explicit Validation </label></p>
                        </div>

                        <div class="col-xs-12">
                            <h4><strong>Select form approval options</strong></h4>
                        </div>

                        <div class="col-xs-12 profile_boxes">
                            <p><label><input type="checkbox"> No Approval </label></p>
                            <p><label><input type="checkbox"> Single Approval </label></p>
                            <p><label><input type="checkbox"> Multiple Approvals </label></p>
                        </div>
                    </div>
                </div>
                <!-- PAGE 2 CONTENT ENDS-->
                
                
                <!-- PAGE 3 CONTENT STARTS -->
                <div id="page3" class="hide" ng-class="{'show': currentTab == 3}">
                    <h3>Form Setup</h3>
                    <br>
                    <table class="table table-bordered step3-table">
                        <thead>
                            <tr>
                                <th>Label</th>
                                <th>Sys. Group</th>
                                <th>Group Label</th>
                                <th>Type</th>
                                <th>Sub Type</th>
                                <th>Format</th>
                                <th>Length</th>
                                <th>Tab Seq.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="field in predefinedFields">
                                <td ng-bind="field.label"></td>
                                <td ng-bind="field.sysGroup"></td>
                                <td ng-bind="field.groupLabel"></td>
                                <td ng-bind="field.type"></td>
                                <td ng-bind="field.subType"></td>
                                <td ng-bind="field.format"></td>
                                <td ng-bind="field.length"></td>
                                <td ng-bind="field.tabSequence"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- PAGE 3 CONTENT ENDS -->
               
               
                <!-- PAGE 4 CONTENT STARTS -->
                <div id="page4" class="hide" ng-class="{'show': currentTab == 4 || currentTab == 5}">
                    
                    <div class="sidebar_section">
                        <div class="btn_head"> Form Controls</div>
                        <ul class="left-btns left-btns-dash">
                            <li ng-repeat="obj in formControlsList">
                                <div ng-drag="true" ng-drag-data="obj" data-allow-transform="true">
                                    <a href=""><img ng-src="{{obj.imgUrl}}" alt=""> {{obj.label}}</a>
                                </div>
                            </li>
                        </ul>
                        <div class="btn_head"> Field Controls</div>
                        <ul class="left-btns left-btns-dash">
                                <li ng-repeat="obj in fieldControlsList">
                                    <div ng-drag="true" ng-drag-data="obj" data-allow-transform="true">
                                        <a href=""><img ng-src="{{obj.imgUrl}}" alt=""> {{obj.label}}</a>
                                    </div>
                                 </li>
                        </ul>
                   </div>

                    <div class="content_section">
                        <div class="profile-section profile_first">
                            <h4 class="pull-left">New User Setup</h4>
                            <button class="btn btn-danger btn-flat btn-sm pull-right">Cancel</button>
                            <button class="btn btn-info btn-flat  btn-sm pull-right">Submit</button>
                            <button class="btn btn-success btn-flat  btn-sm pull-right">Save</button>
                        </div>

                        <p class="profile_labels">Basic Data:</p>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col-md-4 form_item">
                                    Created <img src="img/datetime.png" alt="">
                                    <input type="text"> <span class="operation"></span>
                                </div>
                                <div class="col-md-4 form_item">
                                    User ID <img src="img/text.png" alt="">
                                    <input type="text"> <span class="operation"></span>
                                </div>
                            </div>
                        </div>

                        <p class="profile_labels">User Info:</p>
                        <div class="profile-section">
                            <div class="row">
                                <div ng-drop="true" ng-drop-success="onDropComplete($data,$event)" style="height:500px; width:100%;">
                                    <div ng-repeat="obj in selectedFields" ng-drag="false" ng-drag-data="obj" ng-center-anchor="{{centerAnchor}}">
                                        <div ng-switch="obj.type">

                                            <div class="col-md-4 form_item" ng-switch-when="TEXT">
                                                {{obj.label}}
                                                <img ng-src="{{obj.imgUrl}}" alt="">
                                                <input type="text" ng-disabled="true">
                                                <span class="operation" ng-click="showPropertiesModal($index)"><i class="fa fa-exclamation-circle "></i></span>
                                            </div>

                                             <div class="col-md-4 form_item" ng-switch-when="DROPDOWN">
                                                {{obj.label}}
                                                <img ng-src="{{obj.imgUrl}}" alt="">
                                                <select>
                                                    <option value="">Select</option>
                                                </select>
                                                <span class="operation" ng-click="showPropertiesModal($index)"><i class="fa fa-exclamation-circle "></i></span>
                                            </div>

                                             <div class="col-md-4 form_item" ng-switch-when="NUMBER">
                                                {{obj.label}}
                                                <img ng-src="{{obj.imgUrl}}" alt="">
                                                <input type="number" ng-disabled="true">
                                                <span class="operation" ng-click="showPropertiesModal($index)"><i class="fa fa-exclamation-circle "></i></span>
                                            </div>

                                            <div class="col-md-4 form_item" ng-switch-when="DATETIME">
                                                {{obj.label}}
                                                <img ng-src="{{obj.imgUrl}}" alt="">
                                                <input type="datetime-local" ng-disabled="true">
                                                <span class="operation" ng-click="showPropertiesModal($index)"><i class="fa fa-exclamation-circle "></i></span>
                                            </div>

                                            <div class="col-md-4 form_item" ng-switch-when="BUTTON">
                                                {{obj.label}}
                                                <img ng-src="{{obj.imgUrl}}" alt="">
                                                <button ng-disabled="true">Submit</button>
                                                <span class="operation" ng-click="showPropertiesModal($index)"><i class="fa fa-exclamation-circle "></i></span>
                                            </div>

                                            <div class="col-md-4 form_item" ng-switch-when="GRID">
                                                {{obj.label}}
                                                <img ng-src="{{obj.imgUrl}}" alt="">
                                                <table class="table table-bordered step3-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Heading1</th>
                                                            <th>Heading2</th>
                                                            <th>Heading3</th>
                                                            <th>Heading4</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>data</td>
                                                            <td>data</td>
                                                            <td>data</td>
                                                            <td>data</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <span class="operation" ng-click="showPropertiesModal($index)"><i class="fa fa-exclamation-circle "></i></span>
                                            </div>

                                            <div class="col-md-4 form_item" ng-switch-when="GROUP">
                                                {{obj.label}}
                                                <img ng-src="{{obj.imgUrl}}" alt="">
                                                <div class="profile-section">
                                                    <div class="row">
                                                    </div>
                                                </div>
                                                <span class="operation" ng-click="showPropertiesModal($index)"><i class="fa fa-exclamation-circle "></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGE 4 CONTENT ENDS -->

            </div>
        </div>
    </div>
</div>