<div class="container-fluid ">
    <div class="container custom-container title-section">
        <div class="logo">Client Logo</div>
        <div class="logo-right">
            <div class="select">
                <select name="" id="form-select" class="form-control">
                    <option value="">Select Form</option>
                </select>
            </div>
            <div class="profile"><i class="fa fa-user"></i> Ashish Rathi</div>
            <div class="logout"><a href="">Logout</a></div>
        </div>
	</div>
</div>

  	<div class="container-fluid">
        <div class="container custom-container mid-section">
            <div class="drop-items">
                <p class="drag-title">Drag and Drop Fields</p>
                <ul>
		            <li ng-repeat="obj in draggableObjects">
		            	<div ng-drag="true" ng-drag-data="obj" data-allow-transform="true">
			                <input type="text" class="form-control" placeholder="{{obj.placeholder}}" />
		            	</div>
		            </li>
		        </ul>
                <div class="btn-group btn-drop">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Option <span class="caret"></span>
                    </button>
	                <ul class="dropdown-menu">
	                    <li><a href="#">Action</a></li>
	                    <li><a href="#">Another action</a></li>
	                    <li><a href="#">Something else here</a></li>
	                    <li><a href="#">Separated link</a></li>
	                </ul>
                </div>
            </div>
                
            <div class="drop-area">
                <p class="drop-title"><i class="fa fa-user"></i> Create - User Profile</p>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            <h4 class="panel-title">
                                <span class="collapsed">Mandatory Fields <i class="fa fa-plus pull-right"></i></span>
                            </h4>
                        </div>
                     	<div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
                     		<div id="collapse1" class="panel-collapse in" role="tabpanel" aria-labelledby="heading1">
                     			<div class="panel-body input-panel">
                     				<div class="inp-sec">
						          		<div ng-repeat="obj in droppedObjects" ng-drag="false" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}">
						          			<input type="text" class="form-control" placeholder="{{obj.placeholder}}">
						              			 
						              		</input>
						          		</div>
						        	</div>
						    	</div>
				      		</div>
				      	</div>
                    </div>
                </div>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <h4 class="panel-title">
                                <span class="collapsed">Additional <i class="fa fa-plus pull-right"></i></span>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse in" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <h4 class="panel-title">
                                <span class="collapsed">Roles <i class="fa fa-plus pull-right"></i></span>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse in" role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body btn-panel-body">
                               <div class="save-section">
                                   <button class="btn save-btn">Sign up</button>
                               </div>
                               <div class="save-button-section">
                                   <div class="btn-item"><i class="fa fa-edit"></i></div>
                                   <div class="btn-item"><i class="fa fa-trash-o"></i></div>
                                   <div class="btn-item"><i class="fa fa-save"></i></div>
                            	</div>
                        	</div>
                    	</div>
                	</div>
            	</div>
            </div>
      	</div>
    </div>