    <div class="main dash-main">
    <div class="container-fluid noPad ">
        <div class="container dash-top">
            <div class="dash-left"><img src="img/logo.png" alt="" class="page-logo"></div>
            <div class="dash-mid">
                <div class="input-group search-group">
                    <input type="text" class="form-control" placeholder="Search Name">
                    <button class="input-group-addon"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="dash-right">
                <div class="profile-right">
                    <div class="profile-item text-center">Admin</div>
                    <div class="profile-item text-center"><i class="fa fa-th"></i></div>
                    <div class="profile-item text-center"><span class="profile-notif"><i class="fa fa-bell"></i></span></div>
                    <div class="profile-item text-center img-circle profile-img"><img src="img/profile.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid noPad ">
        <div class="container dash-second">
            <div class="dash-left"><img src="img/profile.png" alt="" class="user-logo">
                <h4 class="user-name">PM</h4>
            </div>
            <!-- <div class="profile-crumb">
                <div id="bc1" class="btn-group btn-breadcrumb">
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 1}" ng-click="currentTab=1">
                        <div>Basic Data</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 2}" ng-click="currentTab=2">
                        <div>Validate</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 3}" ng-click="currentTab=3">
                        <div>Approve</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 4}" ng-click="currentTab=4">
                        <div>Publish</div>
                    </a>
                   <a href class="btn btn-info" ng-class="{'on': currentTab == 5}" ng-click="currentTab=5">
                        <div>Publish Profile</div>
                    </a>
                </div>
                <div class="profile_right_btn pull-right">
                    <button class="btn btn-default btn-sm btn-flat" ng-disabled="currentTab != 4">Validate</button>
                    <button class="btn btn-warning btn-sm btn-flat" ng-disabled="currentTab != 5" ng-click="openStatusModal()">Publish</button>
                    <button class="btn btn-success btn-sm btn-flat" ng-click="saveProfile()">Save</button>
                    <button class="btn btn-danger btn-sm btn-flat">Cancel</button>
                    <button class="btn btn-default btn-sm btn-flat"><i class="fa fa-refresh"></i></button>
                    Single button
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-flat btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href>Action</a></li>
                            <li><a href>Another action</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-flat btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="container-fluid noPad ">
        <div class="container dash-bottom">
            <div class="dash-left profile_drags noBorder">
                    <!-- LEFT SIDEBAR -->
            </div>
            <div class="profile-content bleft">


                <div class="">
                <div id="bc1" class="btn-group btn-breadcrumb">
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 1}" ng-click="currentTab=1">
                        <div>Basic Data</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 2}" ng-click="currentTab=2">
                        <div>Validate</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 3}" ng-click="currentTab=3">
                        <div>Approve</div>
                    </a>
                    <a href class="btn btn-info" ng-class="{'on': currentTab == 4}" ng-click="currentTab=4">
                        <div>Publish</div>
                    </a>
                   <!--  <a href class="btn btn-info" ng-class="{'on': currentTab == 5}" ng-click="currentTab=5">
                        <div>Publish Profile</div>
                    </a> -->
                </div>

            </div>

                <!-- PAGE 1 CONTENT STARTS -->
                <div id="page1" class="hide" ng-class="{'show': currentTab == 1}">


                   <div class="sub_steps">
                        <div class="step_item">
                            <button class="btn btn-success step_circle" ng-class="{'on': subTab == 1}" ng-click="subTab=1">1</button>
                            <div class="step_txt">General</div>
                        </div>
                        <div class="step_divider"></div>
                       <div class="step_item">
                            <button class="btn btn-success step_circle" ng-class="{'on': subTab == 2}" ng-click="subTab=2">2</button>
                            <div class="step_txt">Access & Security</div>
                        </div>
                        <div class="step_divider"></div>
                        <div class="step_item">
                            <button class="btn btn-success step_circle" ng-class="{'on': subTab == 3}" ng-click="subTab=3">3</button>
                            <div class="step_txt">Workflow Setting</div>
                        </div>
                        <div class="step_divider"></div>
                        <div class="step_item">
                            <button class="btn btn-success step_circle" ng-class="{'on': subTab == 4}" ng-click="subTab=4">4</button>
                            <div class="step_txt">Notifications</div>
                        </div>
                        <div class="clearfix"></div>
                   </div>



  <div id="subpage1" class="hide" ng-class="{'show': subTab == 1}">
             <h3>General</h3>
                    <br>
                    <div class="row">
                        <div class="col-xs-2"><h4>Profile Name</h4></div>
                        <div class="col-xs-10"><h4><input type="text" ng-model="profileBuilderObj.name"/></h4></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2"><h4>Open Form: </h4></div>
                        <div class="col-xs-10"><h4>On Click – New Button on User Management</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Shortcut: </h4></div>
                        <div class="col-xs-10"><h4>On Click – New Button on User Management</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Object: </h4></div>
                        <div class="col-xs-10"><h4>System_Object_Users</h4></div>
                    </div>
                     <div class="row">
                        <div class="col-xs-2"><h4>Hot Key:      </h4></div>
                        <div class="col-xs-2"><h4>Ctrl+Alt+Del</h4></div>
                        <div class="col-xs-2">
                          <div class="btn-group">
                                <button type="button" class="btn btn-default btn-flat btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Please Select <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                </ul>
                            </div>
                         </div>
                    </div>
  </div>
<div id="subpage2" class="hide" ng-class="{'show': subTab == 2}">
            bb
  </div>
<div id="subpage3" class="hide" ng-class="{'show': subTab == 3}">
            ccc
  </div>
<div id="subpage3" class="hide" ng-class="{'show': subTab == 4}">
            ddd
  </div>
        </div>
                <!-- PAGE 1 CONTENT ENDS -->





                <!-- PAGE 2 CONTENT STARTS -->
                <div id="page2" class="hide" ng-class="{'show': currentTab == 2}">
                    <h3>Validate</h3>
                    <br>
                    <table class="table table-bordered step3-table">
                        <thead>
                            <tr>
                                <th>Area/Section</th>
                                <th>Field</th>
                                <th>Error Message</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>General</td>
                                <td>Form Name</td>
                                <td>Missing</td>
                                <td><a href="">Click Here</a></td>
                            </tr>
                            <tr>
                                <td>Access & Security</td>
                                <td>Timeout Settings</td>
                                <td>Missing</td>
                                <td><a href="">Click Here</a></td>
                            </tr>
                            <tr>
                                <td>General</td>
                                <td>Form Name</td>
                                <td>Missing</td>
                                <td><a href="">Click Here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- PAGE 2 CONTENT ENDS -->



             <!-- PAGE 3 CONTENT STARTS-->
                <div id="page3" class="hide" ng-class="{'show': currentTab == 3}">
                </div>
                <!-- PAGE 3 CONTENT ENDS-->


            </div>


            <div class="nxt_prev_container"><button class="btn btn-info btn-flat">Previous</button> <button class="btn btn-info btn-flat">Next</button></div>
        </div>
    </div>
</div>





<div class="account_popout">
<div class="popout_img">
<img src="img/profile.png" alt="">
<div class="change_photo">
    Change Photo
</div>
<div class="popout_profile">
<span class="p_name">Rum N Coke</span>
<span class="p_email">a@gmail.com</span>
<span class="p_privacy">
    <a href="">Account</a> - <a href="">Privacy</a>
</span>
<a href="" class="noPad">
    <div class="p_btn">
        My Account
    </div>
</a>
</div>


</div>
<div class="p_signout">
<a href="" class="noPad">
    <div class="p_signout_btn">Sign out</div>
</a>
<div class="clearfix"></div>
</div>
</div>


<script>
$(document).ready(function(){
    $(document).on('click','.step3-table td',function(e){
        if($(this).find('.edit_input').length==0){
            var $this=$(this),
                $val=$this.text();
                $this.html('<input type="text" class="edit_input">');
            $this.find('.edit_input').val($val).focus();
            //alert($val);
        }

    });

    $(document).on('keyup','.edit_input',function (e) {
            if (e.keyCode == 13) {
                var $val=$(this).val(),
                    $parent=$(this).parent('td');
                $(this).remove();
              //  alert($val);
               $parent.text($val);
            }
});

});
</script>
