<div>
    <h4>Choose Color</h4>
</div>
<div>
    <div class="row control-group">
     <div class="col-sm-4">
          <label class="control-label">Color</label>
      </div>
      <div class="col-sm-4">
        <color-picker
            ng-model="themeColor"
            color-picker-format="'hex'"
            color-picker-alpha="true"
            color-picker-swatch="true"
            color-picker-swatch-pos="'left'"
            color-picker-swatch-bootstrap="false"
            color-picker-swatch-only="false"
            color-picker-pos="'bottom right'"
            color-picker-case="'upper'"
        ></color-picker>
      </div>
    </div>

</div>
<div>
  <button type="button" class="btn btn-primary" ng-click="saveTheme()">Save</button>
</div>
