


<div class="col-md-4 col-md-offset-4 color_picker_main">
    <h3 class="text-center">Choose Color</h3>

    <div class="row cpicker_input">
       <div class="col-md-3 cpicker_label">Color:</div>
       <div class="col-md-9">
            <color-picker
            ng-model="themeColor"
            color-picker-format="'hex'"
            color-picker-alpha="true"
            color-picker-swatch="true"
            color-picker-swatch-pos="'left'"
            color-picker-swatch-bootstrap="false"
            color-picker-swatch-only="false"
            color-picker-pos="'bottom right'"
            color-picker-case="'upper'"
        ></color-picker>
       </div>

       <div class="col-md-3"></div>
       <div class="col-md-9">
        <button type="button" class="btn btn-success btn-flat theme_save_btn" ng-click="saveTheme()">Save</button>
    </div>
</div>
</div>











